[test]
StrTestConstructorTests.DefaultConstructor = 1	
StrTestConstructorTests.CharArrayConstructor = 1
StrTestConstructorTests.NullInputConstructor = 1	
StrTestConstructorTests.StrConstructor = 1
StrTestOpAssign.AssignStr	= 2
StrTestOpAssign.AssignSelf										= 1
#StrTestOpAssign.NullData											= 1
StrTestOpAssign.AssignCharArray 							= 1
StrTestOpPlus.AddTwoStrings1									= 2
StrTestOpPlus.AddSelf													= 2
StrTestOpPlus.AddCharArray										= 1
StrTestRelationalOps.Equals										= 1
StrTestRelationalOps.Neq											= 1
StrTestRelationalOps.LessThanGreaterThan			= 2
StrTestPlusEq.PlusEqStr												= 1
StrTestPlusEq.PlusEqCharArray									= 2
StrTestPlusEq.PlusEqSelf											= 1
StrTestSize.ConstructorSizes									= 1
StrTestSize.AdditionSizes											= 1
StrTestIndexing.NormalIndex										= 1
StrTestIndexing.IndexOutOfRange								= 1
StrTestIOStream.PrintTest											= 1
StrRuntime.Concatenate												= 1
