[test]
TestTweetParse.EasyTweetNum = 1
TestTweetParse.NumTweets1 = 1
TestTweetParse.NumTweets2 = 1
TestTweetParse.NumTweets3 = 1
TestTweetParse.EasyTweetUsers = 3
TestTweetParse.TestUsers1 = 1
TestTweetParse.TestUsers2 = 1
TestTweetParse.TestUsers3 = 1
TestTweetParse.EasyTweetHashtags = 3
TestTweetParse.TestHashtags1 = 1
TestTweetParse.TestHashtags2 = 1
TestTweetParse.TestHashtags3 = 1
TestTweetParse.BadInput = 2

