CMakeScripts/
Debug/
*.xcodeproj/
cmake_install.cmake
.DS_Store
CMakeFiles/
*~
*.sln
*.vcxproj
*.db
*.suo
*.sdf
Release/
.vs/
CMakeCache.txt
build
log.txt
diff.txt
out.result
amino.txt
match.result
out.zom
src/parser.cpp
src/parser.hpp
src/scanner.cpp
ast.txt
emit.txt
reg.txt
